h1{
text-shadow: 2px 2px #FAF0E6;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  border-radius: 25%;
}

body{
  background-image: linear-gradient(to right, #FAF0E6, #DAA520);
  font-family:Arial Helvetica sans-serif;
  margin: 10% 15%;
}


.exp-header{
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px;
  background-color: #FAEBD7;
}


em{
  font-weight:bold;
}

.bonus{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer{
  text-align: center;
  text-transform: lowercase;
}
