h1{
text-shadow: 2px 2px #80808080;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  border-radius: 25%;
}

body{
  background-image: linear-gradient(to right, #FAF0E6, #F0F8FF, #FAF0E6);
  font-family:Arial Helvetica sans-serif;
  margin: 10% 10%;
}


.exp-header{
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px;
  background-color: #FAEBD7
}


em{
  font-weight:bold;
}
